.players { /* A container for the two players to rest side by side */
  display: flex;
}

.player_one {
  flex: 0 0 50%;
}

.player_two {
  flex: 1;
}

.flex_ul{
  padding: 0;
  margin: 0;
  list-style: none;
  list-style-type: none;
  -webkit-flex-wrap: wrap;
  display: flex;
  flex-wrap: wrap;
}

.flex_ul li {
  width: 80px;
  height: 40px;
  margin: 2px;
  border: 1px solid black;
  text-align: center;
}

.lives {
  color: blue;
}

.selected{
  background-color: gray;
}

.characters {
  color : green;
}

.stages {
  color: red;
  margin-left: auto;
  margin-right: auto;
}

.submit {
  color: black;
  padding: 10px;
  margin: 5px;
}