{
      "presets": ["es2015", "env", "react"],
      "env" : {
            "development" : {
                  "presets" : ["react-hmre"]
            },
            "production" : {
                  "presets" : []
            },
            "test" : {
                  "presets" : []
            }
      }
}
